html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  border-top: solid 10px #000;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  margin: 0;
  padding: 0;
}
a * {
  cursor: pointer;
}
.locationSelector {
  float: right;
}
.locationSelector .btn-danger {
  background-color: #ef5816;
  border-color: #ef5816;
  opacity: 0.84;
}
.locationSelector .btn-danger:hover {
  background-color: #ef5816;
  opacity: 1;
}
.page-header {
  padding-left: 22px;
  padding-right: 22px;
}
.pageTitle {
  display: inline;
}
#ranking-box {
  padding: 0;
}
#ranking-box ul {
  padding: 0;
  list-style-type: none;
}
#ranking-box ul li {
  padding: 15px 0;
  background-color: #ef5816;
}
#ranking-box ul li:hover {
  cursor: pointer;
}
#ranking-box ul li:nth-child(2) {
  opacity: 0.92;
}
#ranking-box ul li:nth-child(3) {
  opacity: 0.84;
}
#ranking-box ul li:nth-child(4) {
  opacity: 0.76;
}
#ranking-box ul li:nth-child(5) {
  opacity: 0.68;
}
#ranking-box ul li:nth-child(6) {
  opacity: 0.60;
}
#ranking-box ul li:nth-child(7) {
  opacity: 0.52;
}
#ranking-box ul li:nth-child(8) {
  opacity: 0.44;
}
#ranking-box ul li:nth-child(9) {
  opacity: 0.32;
}
#ranking-box ul li:nth-child(10) {
  opacity: 0.28;
}
#ranking-box ul .gradient-2 {
  opacity: 0.92;
}
#ranking-box ul .gradient-3 {
  opacity: 0.84;
}
#ranking-box ul .gradient-4 {
  opacity: 0.76;
}
#ranking-box ul .gradient-5 {
  opacity: 0.68;
}
#ranking-box ul .gradient-6 {
  opacity: 0.60;
}
#ranking-box ul .gradient-7 {
  opacity: 0.52;
}
#ranking-box ul .gradient-8 {
  opacity: 0.44;
}
#ranking-box ul .gradient-9 {
  opacity: 0.32;
}
#ranking-box ul .gradient-10 {
  opacity: 0.28;
}
#ranking-box a {
  color: #fefefe;
}
#ranking-box a:hover {
  text-decoration: none;
  color: #fefefe;
}
#ranking-box .rank {
  text-align: center;
}
#ranking-box h3,
#ranking-box h4 {
  margin: 0;
}
#ranking-box p {
  margin: 8px 0 0 0;
  font-size: 0.8em;
  opacity: 0.8;
}
