@orange: #ef5816;
@background: #fff;

// Global Settings
html {
    background-color: @background;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: none;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding:0;
}

a * {
  cursor: pointer;
}

.locationSelector{
    float: right;
    
    .btn-danger{
        background-color: @orange;
        border-color: @orange;
        opacity: 0.84; //3rd color in the spectrum
    }
    
    .btn-danger:hover{
        background-color: @orange;
        opacity: 1;
    }
}

#body{
	position: relative;
}

.page-header{
    padding: 19px 22px 9px 22px;
    border-bottom: none;
    margin: 0 !important;
    -webkit-box-shadow:  0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow:  0px 3px 5px 3px rgba(0, 0, 0, 0.1);
    z-index: -1;
    //background-image: url("/images/header.png");
    
    
    .pageTitle{
        display: inline;
        a{
            color: #333;
        }
    }
    
    .dropdown-menu{
        right: 0;
        left: auto;
    }
    
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
        background-color: @orange;
        opacity: 0.84; //3rd color in the spectrum 
    }
}

//Ranking box is for the top 10 trends on Twitter.
#ranking-box{
    padding: 0;
    height: 930px;
    ul{
      padding: 0;
      list-style-type: none;
      margin-bottom: 0;
      
      li{
        padding: 15px 0;
        background-color: @orange;
        color: #fefefe;
        height: 93px;
        overflow: hidden;
        
        //set the height of the hashbox with content to 63px 
        span{
            height: 63px;
            overflow: hidden;
        }
      }
      
	  .active{
	  	background-image: url("/images/bg.png");
        background-repeat: no-repeat;
        background-position: right;
		background-size: 3%;
	  }
      li:nth-child(2){opacity: 0.94;}
      li:nth-child(3){opacity: 0.88;}
      li:nth-child(4){opacity: 0.80;}
      li:nth-child(5){opacity: 0.74;}
      li:nth-child(6){opacity: 0.68;}
      li:nth-child(7){opacity: 0.62;}
      li:nth-child(8){opacity: 0.56;}
      li:nth-child(9){opacity: 0.50;}
      li:nth-child(10){opacity: 0.46;}
	  li:hover{
        cursor: pointer;
		background-color: #FC5D17;
		opacity: 1;
      }
    }
    
    a{color: #fefefe;}
    a:hover{
      text-decoration: none;
      color: #fefefe;}
    
    .testrank{ 
        text-align: center;
        padding-top: 20px;
        overflow: hidden;}
    
    h3, h4{margin: 0;}
    p{
      margin: 4px 0 0 0;
      font-size: 0.8em;
      opacity: 0.8;}
}

#content-box{
    border-top: 1px solid @orange;
    border-bottom: 1px solid @orange;
    height: 930px;
    overflow: hidden;
    @media(max-width:768px){
       display: none;
    }
	
    .update-box{
        h3{
            margin: 15px 0 5px;
            color: @orange;
        }
        .subtitle{
            color: @orange;
            opacity: 0.6;
        }
        button{
            float: right;
        }
        .btn-danger{
            background-color: @orange;
            border-color: @orange;
            opacity: 0.84; //3rd color in the spectrum
        }
    
        .btn-danger:hover{
            background-color: @orange;
            opacity: 1;
        }
        ul{
            padding: 0;
              list-style-type: none;
        }
        li{
            padding: 0;
            cursor: pointer;
        }
        li:hover{
            background-color: #fafafa;
        }
        .tweet-box{
            height: auto;
            
            img.col-xs-2{
                padding-left: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
				max-width: 64px;
				height: auto;
            }
            li{
                border-bottom: 1px solid rgba(0,0,0,0.1);
                padding: 10px 0 15px;
            }
            
            p{
                margin: 0;
            }
            span{
                padding: 0;
            }
            .user-name{
                font-weight: bold;
            }
            .twitter-id{
                font-size: 0.9em;
                color: rgba(0,0,0,0.7);
            }
			.expend-botton-down{
				text-align: right;
				color: #666;
				font-size: 0.9em;
				cursor:pointer;
				padding: 5px 0;
				border-bottom: 1px solid #ccc;
				margin-bottom: 10px;
				line-height: 0.9em;
				p{
					margin: 0;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			//for interaction 
			//toggle effect for tweet list
			.default{
				height: auto;
				transition: min-height 2s;
				li:nth-child(n+5){
					display: none;
				}
			}
			.show{
				overflow-y: scroll;
				//transition:max-height 2s;
				height: 780px;
			}
        }
        .img-box{
            img{
                width: 100%;
            }
            li{
                margin-bottom: 7px;
                overflow: hidden;
            }
			.expend-botton-up{
				color: #666;
				font-size: 0.9em;
				cursor:pointer;
				padding: 5px 0;
				top: -36px;
				position: relative;
				display: inline-block;
				&:hover{
					text-decoration: underline;
				}
			}
			.show{
				overflow-y: scroll;
				//transition:max-height 2s;
				height: 780px;
			}
        }
    }
    .analysis-box{
        border-left: 1px solid rgba(0,0,0,0.1);
		height: 930px;
        @media(max-width: 992px){
            display: none;
			&.active{
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				background: #fff;
				z-index: 0;
				border: none;
			}
		 }
		#closeAnalysis{
            display: inline-block;
            padding: 0;
            margin-top: 20px;
            background-color: @orange;
            opacity: 0.5;
            cursor: pointer;
			right: 22px;
			position: absolute;
			z-index: 1;
            span{
                padding: 5px;
            }
        }
        .timeline-area{
             border-bottom: 1px solid rgba(0,0,0,0.1);
             padding-bottom: 15px;
             button{
                 color: @orange;
                margin-bottom: 15px;
                padding-left: 0;
             }
             img{
                width: 100%;
				height: 120%;
             }
            .glyphicon{
                padding: 15px 0 0 5px;
            }
            h4{
                margin-bottom: 0px;
            }
        }
        .heatmap-area{
            padding-top: 15px;
            padding-bottom: 15px;
            img{width: 100%; opacity: 0.8;}
        }
    }
}

footer{
    clear: both;
    //background-image: url("/images/header.png");
    margin: 0;
}

