extends layout

block content
    div(id="body")
        div(id="ranking-box" class="col-xs-12 col-md-6")
          ul
            li(class="gradient-1 clearfix")
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-2 clearfix")
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-3 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-4 clearfix")
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-5 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-6 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-7 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-8 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-9 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
            li(class="gradient-10 clearfix") 
              a(href="#") 
                span(class="rank col-xs-3") 
                  h4 10456 
                span(class="col-xs-9") 
                  h3 World Cup
                  p These @USSoccer fans are clearly ready to qualify for the World Cup tonight -> http://instagram.com/p/eGH_-og0Ez/  #USAvsMEX
        div(id="content-box" class="col-xs-12 col-md-11")
          div
            p tweets
          div
            p images
          div
            p analysis
  
              