extends layout
block content
    div(id="body")
        div(id="ranking-box" class="col-xs-12 col-sm-5 col-lg-4")
          ul
        div(id="content-box" class="col-xs-11 col-sm-7 col-lg-8")
          div(class="update-box clearfix col-sm-12 col-lg-6")
               div(class="update-header")
                  button(type="button" id="showAnalysis" class="btn btn-danger btn-sm")    
                     span(class="glyphicon glyphicon-stats") 
                  h3 World Cup
                  p(class="subtitle" style="display:none") 
                    span 
                      b 10456 
                      | People Talked About It!
                div(class="tweet-box")
                  ul(id="tweet-list" class="default")
                  div(class="expend-botton-down") 
                     span(class="glyphicon glyphicon-chevron-down")
                     span  Show More Tweets  
                div(class="img-box")
                  div(class="expend-botton-up") 
                     span View More Pictures  
                     span(class="glyphicon glyphicon-chevron-up")
                  ul(class="clearfix")
          div(class="analysis-box col-lg-6")
            button(type="button" id="closeAnalysis" class="btn btn-danger btn-sm")    
                span(class="glyphicon glyphicon-remove")
            div(class="timeline-area col-lg-12")
                h4 Trending Data 
                    span(class="glyphicon glyphicon-stats")
                button(type="button" class="btn btn-link") 24 hrs
                button(type="button" class="btn btn-link") All Time
                img(src=base + '/images/graph.png')
            div(class="heatmap-area col-lg-12")
                h4 Heat Map
                img(src=base + '/images/heatmap.png')
                
  
              