!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    
    block stylesheets
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')

  body   
    header(class='page-header')
      a
        h1(class='pageTitle') Tidal.Me
      div(class="locationSelector btn-group")
        button(type="button" class="btn btn-danger") World
        button(type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown")
          span(class="glyphicon glyphicon-plus")
        ul(class="dropdown-menu" role="menu")
          li
            a(href="#") US
          li
            a(href="#") China
          li
            a(href="#") England
          li(class="divider")
          li
            a(href="#") Action Prime
        
    // #body!= body ?don't know what does it mean
    block content
    
    block javascripts
      
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="http://facebook.com", class="facebook") Facebook
              a(href="http://twitter.com", class="twitter") Twitter