!!! 5
html
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title Tidal.Me | Twitter Trends in a Glance
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href=base + '/stylesheets/style.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    
    block stylesheets
    // include default scripts and any view scripts
    script(src=base + '/javascripts/jquery-1.7.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='//d3js.org/d3.v3.min.js')
    script(src='/javascripts/tidal.js')
    script(src='/javascripts/ui.js')

  body   
    header(class='page-header clearfix')
      h1(class='pageTitle') 
        a(href="#") Tidal.Me
          //img(src= base+'/images/logo-fish.gif')
      div(class="locationSelector btn-group")
        button(type="button" class="btn btn-danger display") Worldwide
        button(type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown")
          span(class="glyphicon glyphicon-align-justify")
        ul(class="dropdown-menu" role="menu")
        
    block content
    
    block javascripts
      
    //footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="http://facebook.com", class="facebook") Facebook
              a(href="http://twitter.com", class="twitter") Twitter